.container {
	max-width:400px;
	margin:auto;
}

.container label,
.container div,
.container select,
.container input,
.container button {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding:10px;
	border: 10px;
}
